.scrollbar-container {
  scrollbar-width: thin;
  scrollbar-color: #818CF8 transparent;
}

.scrollbar-container::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.scrollbar-container::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: #818CF8;
  border-radius: 3px;
}

.scrollbar-container::-webkit-scrollbar-thumb:hover {
  background-color: #6366F1;
}